/* report.css */
.dropdown-menu {
  display: flex !important;
  flex-direction: column !important;
}

.dropdown-item {
  width: 100% !important;
  text-align: left !important;
}
.report-container{
  margin-left: 5rem;
}
.graphPage{
  width: 2000px;
}
  .report-page{
    display: flex;
    flex-direction: row;

}
.report-text-center{
  font-weight: bold;
  margin-left: 50rem;
}

.report-table{
  width: 100%;
  height: fit-content;
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
}