.sidebar-flow {
    animation: openSideBar 200ms ease-in;
    background: linear-gradient(to left, #f0f0f0, #e0e0e0);
    height: 100vh;
    padding: 1rem;
    position: fixed;
    left: 0;
    width: 25rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: width 200ms ease-in-out;
}

.removeSidebar-flow {
    background: linear-gradient(to left, #f0f0f0, #e0e0e0);
    height: 100vh;
    padding: 1rem;
    position: fixed;
    left: 0;
    width: 25rem;
    animation: removeSideBar 300ms ease-in;
    overflow-y: auto;
    transition: width 300ms ease-in-out;
}

.sidebar_header-flow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.sidebar_header-flow h1 {
    font-size: 24px;
    color: #363636;
    margin: 0;
}

.Send-Message-Node-flow,
.Ask-Question-Node-flow,
.Condition-Node-flow {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.Send-Message-Node-flow {
    background-color: #FF7A59; /* Orange background */
}

.Ask-Question-Node-flow {
    background-color: #FFBA49; 
}

.Condition-Node-flow {
    background-color: #49B2FF; /* Blue background */
}

.Send-Message-Node-flow:hover,
.Ask-Question-Node-flow:hover,
.Condition-Node-flow:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.Send-Message-Node-flow .icon,
.Ask-Question-Node-flow .icon,
.Condition-Node-flow .icon {
    font-size: 40px;
    margin: 10px 0;
}

@keyframes openSideBar {
    0% {
        width: 0rem;
    }
    100% {
        width: 20rem;
    }
}

@keyframes removeSideBar {
    0% {
        width: 20rem;
    }
    100% {
        width: 0rem;
    }
}

@media (max-width: 768px) {
    .sidebar-flow {
        width: 15rem;
    }

    .removeSidebar-flow {
        width: 15rem;
    }
}
